<template>
	<main>
		<header>
		</header>
		<router-view></router-view>
		<footer>
		</footer>
	</main>
</template>

<script>

import { appSettings } from './env';

export default {
	name: 'App',

	created() {
		navigator.serviceWorker.register('./service-worker.js')
			.then(reg => console.debug('Registered service worker:', reg))
			.catch(e => console.debug('Failed to start service worker:', e));

		navigator.serviceWorker.ready.then(reg => {
			console.debug('Ready service worker:', reg);

			function skipWaiting() {
				reg.waiting.postMessage({ message: 'skipWaiting' });
			}

			function stateChange() {
				reg.installing.addEventListener('statechange', () => {
					if(this && this.waiting && this.waiting.state === 'installed') {
						updatePrompt();
					}
				});
			}

			function updatePrompt() {
				// TODO
				skipWaiting();
			}

			if(!reg) {
				console.debug('No service worker?! What?!');
				return;
			}

			if(reg.waiting) {
				// we have a service worker ready, prompt to refresh
				console.debug('Service worker ready, adding update notification');
				return updatePrompt();
			}

			if(reg.installing) {
				// we have a service worker in the process of installing, add the listener now
				console.debug('Waiting service worker, installing state change listener');
				stateChange();
			}

			// we don't have any new service workers, listen for one
			console.debug('No waiting service workers, waiting for an update');
			reg.addEventListener('updatefound', stateChange);
		});

		let refreshing = false;
		navigator.serviceWorker.addEventListener('controllerchange', () => {
			if(refreshing) {
				return;
			}
			refreshing = true;
			window.location.reload();
		});

		document.addEventListener('visibilitychange', () => {
			// TODO
		});
	},

	data() {
		return { debug: appSettings.DEBUG };
	},

	components: {
	}
};
</script>

<style>
@import url('./app/variables.css');

body {
	background-color: var(--app-color);
	color: var(--text-color);
	margin: 0 auto;
	font-family: 'Helvetica', sans-serif;
	max-width: 95%;
}

main {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: calc(100vh - 30px);
}

@media (width > 480px) {
	main {
		width: 60vw;
		margin: 0 auto;
	}
}
</style>
