<!doctype html>
<html lang="en">
	<head>
		<title>{{ npm_package_name }}</title>
		<link rel="manifest" href="manifest.webmanifest">
		<link rel="preconnect" href="https://www.google-analytics.com">
		<meta name="description" content="{{ npm_package_description }}">
		<meta name="theme-color" content="#000000">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="index.css">
		<script defer src="index.js"></script>
	</head>
	<body>
		<div id="app"><noscript>You must have JavaScript enabled!</noscript></div>
	</body>
</html>
